@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap");
html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Montserrat", "sans-serif";
}

.carousel-items {
  display: flex;
  overflow-x: scroll;
  padding: 1rem 0;
  scroll-snap-type: x mandatory;
}

.carousel-item {
  flex: 1 0 250px;
  margin-left: 1rem;
  scroll-snap-align: start;
}

section.cube {
  background: rgba(173, 173, 173, 0.089);
  padding-top: 7px;
  padding-bottom: 20px;
  padding-right: 20px;
  padding-left: 7px;
  margin-right: 10%;
  margin-left: 10%;
  margin-top: 1cm;
  font-family: "Montserrat", "sans-serif";
}

section.cube p {
  padding-top: 7px;
  padding-right: 20px;
  padding-left: 7px;
  margin-right: 10%;
  margin-left: 10%;
  font-family: "Montserrat", "sans-serif";
}

section.cube h1 {
  padding-top: 7px;
  padding-right: 20px;
  padding-left: 7px;
  margin-right: 10%;
  margin-left: 10%;
  font-family: "Montserrat", "sans-serif";
}

section.cube li {
  padding-top: 7px;
  padding-right: 20px;
  padding-left: 7px;
  margin-right: 10%;
  margin-left: 10%;
  font-family: "Montserrat", "sans-serif";
}

section.cube img {
  width: 45%;
  height: auto;
  margin-top: 1cm;
  margin-top: 1cm;
}

section.cubefont {
  padding-top: 30px;
  padding-bottom: 200px;
  background-size: cover;
  margin-bottom: -2cm;
  font-family: "Montserrat", "sans-serif";
}

ul,
ol {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

section.cube2 {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  background: rgb(22, 22, 22);
  margin-bottom: 1cm;
  margin-top: 0cm;
  margin-left: 250px;
  padding-top: 1cm;
  margin-right: 250px;
  font-family: "Montserrat", "sans-serif";
}

section.cube2 p {
  color: rgba(0, 0, 0, 0);

  font-family: "Montserrat", "sans-serif";
}

section.cube2 h2 {
  color: rgba(255, 255, 255, 0.836);
  font-family: "Montserrat", "sans-serif";
}

section.cube2 a {
  text-decoration: none;
  padding: 10px 20px;
  background-color: #fff;
  color: black;
  border: none;
  font-size: 20px;
  font-family: "Playfair Display", sans-serif;
  outline: rgb(37, 37, 37);
  cursor: pointer;
}

section.cube2 a:hover {
  text-decoration: none;
  padding: 10px 20px;
  background-color: rgba(206, 206, 206, 0.13);
  color: rgb(255, 255, 255);
  border: none;
  font-size: 20px;
  font-family: "Playfair Display", sans-serif;
  outline: rgb(37, 37, 37);
  cursor: pointer;
}
nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border: 5px solid rgb(19, 18, 18);
}
nav h1 a {
  color: rgb(58, 58, 58);
  font-family: "Playfair Display", sans-serif;
  font-size: 30px;
  text-decoration: none;
}
nav .onglets a {
  text-decoration: none;
  color: #000;
  margin-right: 10px;
  border-bottom: 1px solid #000;
  padding-bottom: 2px;
}

nav .onglets a:hover {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.479);
  /* couleur du texte   */
  margin-right: 10px;
  border-bottom: 1px solid #000;
  padding-bottom: 0.5px;
}
nav .onglets {
  margin-top: 3px;
  margin-left: 350px;
  flex-wrap: wrap;
}

.desegn {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 700px;
  background-color: rgba(228, 228, 228, 0.247);
  padding-left: 20cm;
  padding-right: 20cm;
  margin-top: 10.5cm;
  margin-bottom: auto;
  z-index: -5;
  overflow: visible;
}

.desegn p {
  display: none;
}

.desegn2 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  padding-bottom: 1000px;
  background-color: rgba(228, 228, 228, 0.247);
  padding-left: 20cm;
  padding-right: 20cm;
  margin-top: 13.3cm;
  margin-bottom: auto;
  z-index: -5;
  overflow: visible;
}

.desegn2 p {
  display: none;
}
header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: url("../image/illuv2.png");
  background-size: cover;
  color: aliceblue;
  padding: 210px;
}
header h1 {
  font-family: "Playfair Display", sans-serif;
  font-size: 50px;
  text-align: center;
  background-color: rgba(26, 25, 25, 0.438);
}
header h4 {
  margin-top: -20px;
  font-family: "Playfair Display", sans-serif;
  font-size: 20px;
  text-align: center;
  border-bottom: 1px solid aliceblue;
  background-color: rgba(26, 25, 25, 0.432);
}

header a {
  text-decoration: none;
  padding: 10px 20px;
  background-color: #fff;
  color: black;
  border: none;
  font-size: 20px;
  font-family: "Playfair Display", sans-serif;
  outline: rgb(37, 37, 37);
  cursor: pointer;
}

header a:hover {
  text-decoration: none;
  padding: 10px 20px;
  background-color: rgba(206, 206, 206, 0.13);
  color: rgb(255, 255, 255);
  border: none;
  font-size: 20px;
  font-family: "Playfair Display", sans-serif;
  outline: rgb(37, 37, 37);
  cursor: pointer;
}
.main {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main .content .card .right img {
  height: 300px;
  width: 450px;
  margin-top: 5px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.main .content .card .right:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.main .content .card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 25px;
}

.main .content .card .left {
  flex: 1 0 30%;
  padding: 20px;
  background-color: rgb(22, 22, 22);
  color: #fff;
}

.main .content .card .left a {
  color: #fff;
}

.main .content .card .left a:hover {
  color: rgba(255, 255, 255, 0.479);
}

.textintro .intro {
  font-size: 25px;
  color: rgb(27, 26, 26);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 1px;
}

footer {
  margin-top: 40px;
  border-top: 5px solid #131212;
  background-color: #000;
  color: #fff;
  padding: 30px 100px;
  flex-wrap: wrap;
}

footer h1 {
  font-family: "Playfair Display", sans-serif;
  border-bottom: 1px solid white;
  width: 5cm;
  padding-bottom: 2px;
  font-size: 40px;
  align-items: center;
}

footer .contacts {
  margin-top: -10px;
  display: flex;
  flex-wrap: wrap;
}

footer .contacts .contact {
  margin-right: 30px;
  padding: 10px;
}

footer .contacts .contact p {
  max-width: 450px;
  color: white;
}

footer .contacts .contact a {
  max-width: 450px;
  color: white;
}

footer .contacts .contact a:hover {
  max-width: 450px;
  color: rgba(255, 255, 255, 0.507);
}

footer #nous {
  color: rgb(122, 120, 120);
}

footer #nous a {
  color: rgb(122, 120, 120);
}

h2 {
  color: rgb(71, 70, 70);
  font-family: "Playfair Display", sans-serif;
  font-size: 45px;
  color: rgb(27, 26, 26);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 1px;
}

.imirage img {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 35px;
  padding-bottom: 1px;
}

.lavideo {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 40px;
  margin-top: -1.6cm;
  margin-left: 23.5%;
  margin-right: 23.5%;
  z-index: -1;
}

.lavideocb {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
  padding-bottom: 40px;
  margin-top: -1.6cm;
  margin-left: 43.5%;
  margin-right: 43.5%;
  z-index: -1;
}

.lavideocb video {
  height: 10cm;
  width: 1160;
  height: 600;
}
/*STYLE des images dans l'accordeon */
.accordion-item-body-content img {
  height: 300px;
  width: 500px;
  margin-top: 5px;
}
@import url("https://fonts.googleapis.com/css?family=Montserrat");
.accordion {
  width: 90%;
  max-width: 1000px;
  margin: 2rem auto;
}

.accordion-item {
  background-color: #fff;
  color: #111;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}

.accordion-item-header {
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.accordion-item-header::after {
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}

.accordion-item-header.active::after {
  content: "\2212";
}

.accordion-item-body {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion-item-body-content {
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}

@media (max-width: 1630px) {
  .lavideocb video {
    height: 10cm;
    width: 720;
    height: 480;
  }
}

@media (max-width: 1230px) {
  html {
    font-size: 14px;
  }
}
texterreur {
  color: white;
}
@media screen and (max-width: 1230px) {
  .carousel-items {
    display: flex;
    overflow-x: scroll;
    padding: 1rem 0;
    scroll-snap-type: x mandatory;
  }

  .carousel-item {
    flex: 1 0 250px;
    margin-left: 1rem;
    scroll-snap-align: start;
  }

  section.cubefont {
    background: rgba(255, 255, 255, 0.719);
    margin-right: -6cm;
    margin-left: -6cm;
  }

  .lavideocb video {
    width: 420px;
    height: 180px;
  }

  section.cube2 {
    background: rgba(255, 255, 255, 0.719);
  }

  section.cube2 p {
    color: rgba(0, 0, 0, 0.836);

    font-family: "Montserrat", "sans-serif";
  }

  section.cube2 h2 {
    color: rgba(0, 0, 0, 0.836);
    font-family: "Montserrat", "sans-serif";
  }

  section.cube2 a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
    font-size: 20px;
    font-family: "Playfair Display", sans-serif;
    outline: rgb(37, 37, 37);
    cursor: pointer;
  }

  section.cube2 a:hover {
    text-decoration: none;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.466);
    color: rgb(0, 0, 0);
    border: none;
    font-size: 20px;
    font-family: "Playfair Display", sans-serif;
    outline: rgb(172, 172, 172);
    cursor: pointer;
  }

  nav .onglets a {
    display: none;
  }

  oscillateur {
    display: none;
  }

  .desegn {
    display: none;
  }

  section.cube {
    background: rgba(173, 173, 173, 0);
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 20px;
    padding-left: 20px;
    margin-right: 4%;
    margin-left: 4%;
    margin-top: 1cm;
    font-family: "Montserrat", "sans-serif";
  }

  section.cube img {
    width: 95%;
    height: auto;
  }

  .desegn2 {
    display: none;
  }

  .lavideocb {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
    padding-bottom: 40px;
    margin-top: -1.6cm;
    margin-left: 23.5%;
    margin-right: 23.5%;
    z-index: -1;
  }

  .lavideocb video {
    height: 10cm;
    width: 480;
    height: 360;
  }

  .lavideo {
    display: none;
  }

  texterreur {
    color: black;
  }

  imirage img {
    display: none;
  }

  nav h1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .main .content .card .right img {
    display: none;
  }

  .main .card {
    margin: 10px;
  }

  .main .content .card .right img {
    height: 200px;
    width: 100%;
    margin-top: -0px;
    margin-bottom: 40px;
  }

  .main .content .card {
    display: block;
  }

  footer {
    padding: 30px;
  }

  header {
    padding: 100px;
  }
}
.alligner {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.container {
  position: relative;
  width: 25%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #131414;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#scroll_to_top {
  position: fixed;
  width: 25px;
  height: 25px;
  bottom: 50px;
  right: 30px;
  padding-right: 30px;
  opacity: 0.7;
  margin-right: 2rem;
  margin-bottom: 1rem;
}

#scroll_to_top img {
  width: 68px;
}

.versmenu a {
  color: #000;
  margin-right: 10px;
  padding-bottom: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loader {
  position: fixed;
  width: 100%;
  height: 200%;
  background: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lettre {
  color: blanchedalmond;
  font-size: 300%;
  letter-spacing: 5px;
  margin-bottom: 1000px;
  animation: flash 1.2s linear infinite;
}

@keyframes flash {
  0% {
    color: rgb(0, 0, 0);
    text-shadow: 0 0 7px rgb(0, 0, 0);
  }

  90% {
    color: rgb(255, 255, 255);
    text-shadow: none;
  }

  100% {
    color: rgb(0, 0, 0);
    text-shadow: 0 0 7px rgb(0, 0, 0);
  }
}

.lettre:nth-child(1) {
  animation-delay: 0.1s;
}

.lettre:nth-child(2) {
  animation-delay: 0.2s;
}

.lettre:nth-child(3) {
  animation-delay: 0.3s;
}

.lettre:nth-child(4) {
  animation-delay: 0.4s;
}

.lettre:nth-child(5) {
  animation-delay: 0.5s;
}

.lettre:nth-child(6) {
  animation-delay: 0.6s;
}

.lettre:nth-child(7) {
  animation-delay: 0.7s;
}

.lettre:nth-child(8) {
  animation-delay: 0.8s;
}

.lettre:nth-child(9) {
  animation-delay: 0.9s;
}

.lettre:nth-child(10) {
  animation-delay: 1s;
}

.fondu-out {
  animation-delay: 2.5s;
  opacity: 0;
  transition: opacity 2.3s ease-in-out;
  pointer-events: none;
}
