.main2 {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main2 .content .card .right img {
  height: 300px;
  width: 450px;
  margin-top: 5px;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -ms-transition: all 1s ease;
  -o-transition: all 1s ease;
  transition: all 1s ease;
}

.main2 .content .card .right:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.main2 .content .card {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 25px;
}

.main2 .content .card .left {
  flex: 1 0 30%;
  padding: 20px;
  background-color: rgba(238, 238, 238, 0.705);
  color: rgb(0, 0, 0);
}

.main2 .content .card .left a {
  color: rgb(0, 0, 0);
}

.main2 .content .card .left a:hover {
  color: rgba(0, 0, 0, 0.438);
}

.imiback img {
  position: absolute;
  z-index: -5;
  transform: translate(0, 0);

  width: 100%;
  height: auto;
  object-fit: fill;
  max-height: 1200px;
}

@media screen and (max-width: 1230px) {
  .imiback {
    display: none;
  }
  .main2 .content .card .right img {
    display: none;
  }

  .main2 .card {
    margin: 10px;
  }

  .main2 .content .card .right img {
    height: 200px;
    width: 100%;
    margin-top: -0px;
    margin-bottom: 40px;
  }

  .main2 .content .card {
    display: block;
  }
}
