@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
/*   police recuperee sur google font, google font police: montserrat   */
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:wght@600&display=swap");
/*police secondaire */

html {
  scroll-behavior: smooth;
  /*   QUAND on appui sur un lien maintenant le scrolling n'est pas instantané  */
  overflow-x: hidden;
  /* pour qu'il n'y ait pas de scoll de gauche à droite */
}

body {
  margin: 0;
  /*   marge exterieur de l'ellement   */
  padding: 0;
  /*   marge interieur de l'ellement   */
  font-family: "Montserrat", "sans-serif";
  /*application des polices*/
}

#scroll_to_top {
  /*  bouton retour en haut  */
  position: fixed;
  width: 25px;
  height: 25px;
  bottom: 50px;
  right: 30px;
  padding-right: 30px;
  opacity: 0.7;
}

#scroll_to_top img {
  width: 68px;
}

/* STYLE DE LA BARRE DE NAVIGATION   */
nav {
  display: flex;
  /*   on aligne les ellements de navigation */
  flex-wrap: wrap;
  /* pour eviter des problemes si l'alignement n'est pas possible par exemple sur mobile  */
  justify-content: center;
  /* centrer les ellements  */
  align-items: center;
  /*  alligner les ellements */
  border: 5px solid rgb(71, 70, 70);
  /*  ajout d'une ligne de séparation */
}

/* travail sur titre:LES METHODES D'AFFICHAGE  */
nav h1 a {
  color: rgb(71, 70, 70);
  /*  couleur du titre */
  font-family: "Playfair Display", sans-serif;
  /* style de police du texte titre   */
  font-size: 30px;
  /*  taille du titre */
  text-decoration: none;
  /* on retire le soulignement   */
}

/* travail sur le reste de la BARRE de navigation ex:home, contact...*/
nav .onglets a {
  text-decoration: none;
  /* on retire le soulignement   */
  color: #000;
  /* couleur du texte   */
  margin-right: 10px;
  /*  ecrat exterieur entre les differents texte de la barre  */
  border-bottom: 1px solid #000;
  /*  on ajoute notre propre soulignement  */
  padding-bottom: 2px;
  /*  marge interieur entre le texte et le soulignement  */
}

nav .onglets a:hover {
  text-decoration: none;
  /* on retire le soulignement   */
  color: rgba(0, 0, 0, 0.479);
  /* couleur du texte du lien*/
  /* couleur du texte   */
  margin-right: 10px;
  /*  ecrat exterieur entre les differents texte de la barre  */
  border-bottom: 1px solid #000;
  /*  on ajoute notre propre soulignement  */
  padding-bottom: 0.5px;
  /*  marge interieur entre le texte et le soulignement  */
}

/*  Travail sur le style global des onglets  */
nav .onglets {
  margin-top: 3px;
  /*  pour mieu aligner  */
  margin-left: 350px;
  /*  ajout d'une marge exterieur entre TITRE et les autres ONGLETS, on eloigne le logo des liens  */
  flex-wrap: wrap;
  /* pour eviter des problemes si l'alignement n'est pas possible par exemple sur mobile  */
}

/* On stylise notre header  le debut du site aprés la barre Logo+liens*/
header {
  display: flex;
  /* On aligne nos titre  */
  flex-direction: column;
  /* On met l'allignement dans le sens qu'on veut ici en colone  */
  align-items: center;
  /* en centre les ellements  */
  background: url("image/illuv2.PNG");
  /* on met en background notre image rangee dans notre dossier*/
  background-size: cover;
  color: aliceblue;
  padding: 210px;
  /* Taille image HEADER */
}

/* travail sur titre h1 */
header h1 {
  font-family: "Playfair Display", sans-serif;
  /* changement de police */
  font-size: 50px;
  /* On augmente la taille de h1 */
  text-align: center;
  /* Texte maintenant aligne au format mobile aussi */
  background-color: rgba(26, 25, 25, 0.438);
  /* couleur transparente du background */
}

/* travail sur titre h4 */
header h4 {
  margin-top: -20px;
  /* on réduit l'ecart entre h1 et h4 */
  font-family: "Playfair Display", sans-serif;
  /* changement de police */
  font-size: 20px;
  text-align: center;
  /* Texte maintenant aligne au format mobile aussi necessaire POUR EVITER LES DECALAGES */
  border-bottom: 1px solid aliceblue;
  /* ajout d'une ligne pour le style */
  background-color: rgba(26, 25, 25, 0.432);
  /* couleur transparente du background */
}

header a {
  /* travail sur le BOUTON HEADER au format a*/
  text-decoration: none;
  /* on retire le soulignement   */
  padding: 10px 20px;
  /* ajout marge interieur de 10px haut et bas et 20px interieur droite et gauche  */
  background-color: #fff;
  /* couleur du background du bouton */
  color: black;
  /* couleur texte */
  border: none;
  /* on retire l'encadrement */
  font-size: 20px;
  /* on grossit le texte bouton */
  font-family: "Playfair Display", sans-serif;
  /* changement de police */
  outline: rgb(37, 37, 37);
  /* quand on click de bouton petite couleure spawn */
  cursor: pointer;
  /* ajout apparition pointer quand on passe la souris sur le bouton */
}

/* Travail sur les cartes */
.main {
  margin-top: 40px;
  /* on ecart notre main de 40 px du header */
  display: flex;
  /* On aligne nos titre  */
  flex-direction: column;
  /* On met l'allignement dans le sens qu'on veut ici en colone  */
  align-items: center;
  /* en centre les ellements  */
}

.main .content .card .right img {
  /*on déclare la section principale puis la div centent qui stoque les cartes puis on declare les carte et ensuite la section right et enfin on déclare l'image  */
  height: 300px;
  /* on change la taille de l'image qui etait trop grande */
  width: 450px;
  /* on modifi la largeur*/
  margin-top: 5px;
  /* ajoute espace entre image et texte utile pour mobile*/
  -webkit-transition: all 1s ease;
  /* Safari et Chrome */
  -moz-transition: all 1s ease;
  /* Firefox */
  -ms-transition: all 1s ease;
  /* Internet Explorer 9 */
  -o-transition: all 1s ease;
  /* Opera */
  transition: all 1s ease;
}

.main .content .card .right:hover img {
  /* L'image est grossie de 25% */
  -webkit-transform: scale(1.1);
  /* Safari et Chrome */
  -moz-transform: scale(1.1);
  /* Firefox */
  -ms-transform: scale(1.1);
  /* Internet Explorer 9 */
  -o-transform: scale(1.1);
  /* Opera */
  transform: scale(1.1);
}

.main .content .card {
  /* On declare maintenant juste toute nos cartes pour travailler leur deseign*/
  display: flex;
  /* pour aligner les ellements dans notre carte sur la longueur*/
  flex-wrap: wrap;
  /* pour si la resolution ne permet pas d'alligner on les superpose par exemple sur mobile*/
  justify-content: center;
  /* centrer les ellements  */
  margin-bottom: 25px;
  /*  on espace nos deux cartes */
}

.main .content .card .left {
  /* on travail sur la partie à droite maintenant */
  flex: 1 0 30%;
  /* 30 % de notre carte sera du texte le resete sera pris par l'image*/
  padding: 20px;
  /* espace texte bloque*/
  background-color: rgb(22, 22, 22);
  /* couleur derriere le texte black*/
  color: #fff;
  /* couleur du texte*/
}

.main .content .card .left a {
  /* on travail sur notre petit lien */
  color: #fff;
  /* couleur du texte du lien*/
}

.main .content .card .left a:hover {
  /* on travail sur notre petit lien */
  color: rgba(255, 255, 255, 0.479);
  /* couleur du texte du lien*/
}

.textintro .intro {
  font-size: 25px;
  color: rgb(27, 26, 26);
  display: flex;
  /*   on aligne les ellements de navigation */
  flex-wrap: wrap;
  /* pour eviter des problemes si l'alignement n'est pas possible par exemple sur mobile  */
  justify-content: center;
  /* centrer l'ellements  */
  align-items: center;
  /*  alligner l'ellements sur la page */
  padding-top: 35px;
  /* on espace  au dessu*/
  padding-bottom: 1px;
  /* on espace en dessou*/
}

footer {
  /* travail sur le footer */
  margin-top: 40px;
  /* on eloigne notre footer des objets au dessu */
  border-top: 5px solid #6f6f6f;
  /* on crée une ligne de delimitation entre le footer et le reste du site */
  background-color: #000;
  /* on met le background en noir*/
  color: #fff;
  /* texte en blanc */
  padding: 30px 100px;
  /* on redimensionne la bordure du footer haut/bas droite/gauche*/
  flex-wrap: wrap;
  /* pour eviter des problemes si l'alignement n'est pas possible par exemple sur mobile  */
}

footer h1 {
  font-family: "Playfair Display", sans-serif;
  /* style de police du texte titre   */
  border-bottom: 1px solid white;
  /*  ajout d'un soulignement  */
  width: 5cm;
  /* longueur de la ligne 13% de la page    */
  padding-bottom: 2px;
  /* ecart entre titre et ligne   */
  font-size: 40px;
  /*  taille du titre */
  align-items: center;
  /*  alligner l'ellements sur la page */
}

footer .contacts {
  /* notre div qui stoque toute les colonnes  */
  margin-top: -10px;
  /*on reduit l'espace entre le titre et les paragraphes */
  display: flex;
  /* on aligne nos differents paragraphe */
  flex-wrap: wrap;
  /* si on peut pas aligner en aligne pas */
}

footer .contacts .contact {
  /* on travail ici sur chaque colone */
  margin-right: 30px;
  padding: 10px;
}

footer .contacts .contact p {
  /* on travail ici sur chaque colone texte */
  max-width: 450px;
  color: white;
}

footer .contacts .contact a {
  /* on travail ici sur la colone lien */
  max-width: 450px;
  color: white;
}

footer .contacts .contact a:hover {
  /* on travail ici sur la colone lien */
  max-width: 450px;
  color: rgba(255, 255, 255, 0.507);
}

footer #nous {
  /* on passe par le lien, id et non pas une classe pour modifier nous */
  color: rgb(122, 120, 120);
  /* on change la couleur du petit texte en bas de page */
}

footer #nous a {
  color: rgb(122, 120, 120);
  /* on change la couleur du petit lien */
}

h2 {
  color: rgb(71, 70, 70);
  /*  couleur du titre */
  font-family: "Playfair Display", sans-serif;
  /* style de police du texte titre   */
  font-size: 45px;
  color: rgb(27, 26, 26);
  display: flex;
  /*   on aligne les ellements de navigation */
  flex-wrap: wrap;
  /* pour eviter des problemes si l'alignement n'est pas possible par exemple sur mobile  */
  justify-content: center;
  /* centrer l'ellements  */
  align-items: center;
  /*  alligner l'ellements sur la page */
  padding-top: 35px;
  /* on espace  au dessu*/
  padding-bottom: 1px;
  /* on espace en dessou*/
}

imirage img {
  /*   ICCIIIIIIIIIIIIIIIIIIIIIIIIIIIIII ICI */
  display: flex;
  /*   on aligne les ellements de navigation */
  flex-wrap: wrap;
  /* pour eviter des problemes si l'alignement n'est pas possible par exemple sur mobile  */
  justify-content: center;
  /* centrer l'ellements  */
  align-items: center;
  /*  alligner l'ellements sur la page */
  padding-top: 35px;
  /* on espace  au dessu*/
  padding-bottom: 1px;
  /* on espace en dessou*/
}

/*https://developer.mozilla.org/fr/ bibliotheque officiel de programmation */

/*STYLE des images dans l'accordeon */
.accordion-item-body-content img {
  /*on déclare la section principale puis la div centent qui stoque les cartes puis on declare les carte et ensuite la section right et enfin on déclare l'image  */
  height: 300px;
  /* on change la taille de l'image qui etait trop grande */
  width: 500px;
  /* on modifi la largeur*/
  margin-top: 5px;
  /* ajoute espace entre image et texte utile pour mobile*/
}

/* travail sur l'accordeon global */
@import url("https://fonts.googleapis.com/css?family=Montserrat");
/* police d'ecriture*/

.accordion {
  /* travail sur style de l'accordeon global */
  width: 90%;
  max-width: 1000px;
  margin: 2rem auto;
}

.accordion-item {
  /* travail sur les items de l'accordeon  */
  background-color: #fff;
  color: #111;
  margin: 1rem 0;
  border-radius: 0.5rem;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.25);
}

.accordion-item-header {
  /* travail sur style de header*/
  padding: 0.5rem 3rem 0.5rem 1rem;
  min-height: 3.5rem;
  line-height: 1.25rem;
  font-weight: bold;
  display: flex;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.accordion-item-header::after {
  /* travail sur style de header aprés ouverture*/
  content: "\002B";
  font-size: 2rem;
  position: absolute;
  right: 1rem;
}

.accordion-item-header.active::after {
  /* travail sur style de header ouvert*/
  content: "\2212";
}

.accordion-item-body {
  /* travail sur les paragraphe en general*/
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

.accordion-item-body-content {
  /* travail sur le contenu du texte */
  padding: 1rem;
  line-height: 1.5rem;
  border-top: 1px solid;
  border-image: linear-gradient(to right, transparent, #34495e, transparent) 1;
}

.accordion-item-body-content img {
  max-width: 100%;
  max-height: 100%;
}

.accordion-item-body-content-image {
  /* travail sur le contenu du texte */
  height: 400px;
  width: 350px;
  padding-bottom: 1px;
  padding-left: 10;
  margin-bottom: -1.7cm;
  margin-top: -1cm;
}

@media (max-width: 1230px) {
  /* adaptation mobile*/
  html {
    font-size: 14px;
  }
}

/* fin travail sur l'accordeon global */

texterreur {
  /* texte d'erreur cache */
  color: white;
}

/*  Chargement de la page */
.loader {
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  display: flex;
  justify-content: center;
  /*  On centre sur x */
  align-items: center;
  /*  On centre sur y */
}

.lettre {
  color: blanchedalmond;
  font-size: 300%;
  letter-spacing: 5px;
  margin-bottom: 150px;
  /*  LONGUEUR DU FOND NOIR */
  animation: flash 1.2s linear infinite;
}

@keyframes flash {
  /*   effet flash pour le chargement */
  0% {
    color: rgb(0, 0, 0);
    text-shadow: 0 0 7px rgb(0, 0, 0);
  }

  90% {
    color: rgb(255, 255, 255);
    text-shadow: none;
  }

  100% {
    color: rgb(0, 0, 0);
    text-shadow: 0 0 7px rgb(0, 0, 0);
  }
}

.lettre:nth-child(1) {
  /*  ajout de delai pour faire lettre par lettre   */
  animation-delay: 0.1s;
}

.lettre:nth-child(2) {
  animation-delay: 0.2s;
}

.lettre:nth-child(3) {
  animation-delay: 0.3s;
}

.lettre:nth-child(4) {
  animation-delay: 0.4s;
}

.lettre:nth-child(5) {
  animation-delay: 0.5s;
}

.lettre:nth-child(6) {
  animation-delay: 0.6s;
}

.lettre:nth-child(7) {
  animation-delay: 0.7s;
}

.lettre:nth-child(8) {
  animation-delay: 0.8s;
}

.lettre:nth-child(9) {
  animation-delay: 0.9s;
}

.lettre:nth-child(10) {
  animation-delay: 1.1s;
}

.lettre:nth-child(11) {
  animation-delay: 1.2s;
}

.lettre:nth-child(12) {
  animation-delay: 1.3s;
}

.lettre:nth-child(13) {
  animation-delay: 1.4s;
}

.lettre:nth-child(14) {
  animation-delay: 1.5s;
}

.fondu-out {
  animation-delay: 5s;
  opacity: 0;
  transition: opacity 3s ease-in-out;
  pointer-events: none;
}

/* ajout de propriete en fonction de la resolution grace à une fonction  */
@media screen and (max-width: 1230px) {
  /*  conditions si la résolution est trop petite <680px comme sur mobile on retire le margin entre logo et onglets */
  nav .onglets a {
    display: none;
  }

  .lettre {
    color: blanchedalmond;
    font-size: 200%;
    letter-spacing: 5px;
    margin-bottom: 350px;
    /*  LONGUEUR DU FOND NOIR */
    animation: flash 1.2s linear infinite;
  }

  oscillateur {
    display: none;
  }

  texterreur {
    color: black;
  }

  imirage img {
    display: none;
  }

  nav h1 {
    display: flex;
    /*   on aligne les ellements de navigation */
    flex-wrap: wrap;
    /* pour eviter des problemes si l'alignement n'est pas possible par exemple sur mobile  */
    justify-content: center;
    /* centrer l'ellements  */
    align-items: center;
    /*  alligner l'ellements sur la page */
  }

  .main .content .card .right img {
    display: none;
  }

  .main .card {
    margin: 10px;
    /*  ecart de 10px */
  }

  .main .content .card .right img {
    /*  travail sur la taille de l'image  */
    height: 200px;
    /*  taille de l'image  */
    width: 100%;
    /*  surface de l'image  */
    margin-top: -0px;
    /*  marge entre texte et image */
    margin-bottom: 40px;
    /* marge entre les cartes */
  }

  .main .content .card {
    display: block;
    /*  on aligne image avec texte  */
  }

  footer {
    padding: 30px;
    /* Taille footer */
  }

  header {
    padding: 100px;
    /* Taille image HEADER */
  }
}

.alligner {
  display: flex;
  /*   on aligne les ellements de navigation */
  flex-wrap: wrap;
  /* pour eviter des problemes si l'alignement n'est pas possible par exemple sur mobile  */
  justify-content: center;
  /* centrer les ellements  */
  align-items: center;
  /*  alligner les ellements */
}

.container {
  /* image profil  */
  position: relative;
  width: 25%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: 0.5s ease;
  background-color: #131414;
}

.container:hover .overlay {
  opacity: 1;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

/* Boîte Popup */
/* Le Modal (l'arrière-plan) */
.modal {
  display: none;
  /* Masqué par défaut */
  position: fixed;
  /* Rester dans la place */
  z-index: 8888;
  /* S'asseoir en haut */
  left: 0;
  top: 0;
  width: 100%;
  /* Largeur complète */
  height: 100%;
  /* Hauteur complète */
  overflow: auto;
  /* Activer défilement si nécessaire */
  background-color: rgb(0, 0, 0);
  /* Couleur de plan */
  background-color: rgba(0, 0, 0, 0.747);
  /*  w/ opacité noir*/
}

/* Contenu Modal/Boîte*/
.modal-content {
  background-color: #fefefe;
  margin: 10vh auto;
  /* 15% d'en haut et centré */
  padding: 20px;
  border: 1px solid #888;
  width: 60%;
  /* Pouvait être plus ou moins, dépend de la taille de l'écran  */
  /* border-radius: 30px; ARONDIT des bordures*/
}

@media (min-width: 1366px) {
  .modal-content {
    background-color: #000000a2;
    margin: 10vh auto;
    /* 15% d'en haut et centré */
    padding: 20px;
    border: 0.1px solid rgba(0, 0, 0, 0);
    width: 30%;
    /* Pouvait être plus ou moins, dépend de la taille de l'écran */
    /* border-radius: 30px; ARONDIT des bordures*/
  }
}

span {
  color: #667;
  display: block;
  padding: 0 0 5px;
}

form {
  padding: 25px;
  margin: 25px;
  /* box-shadow: 0 21px 5px #585858;      POUR Ajouter une ombre */
  background: rgb(255, 255, 255);
  /* border-radius: 30px; ARONDIT des bordures*/
}

input,
textarea {
  width: calc(100% - 18px);
  padding: 8px;
  margin-bottom: 20px;
  border: 1px solid #1c87c9;
  outline: none;
}

button:hover {
  background: #2371a0;
}

/* Le bouton Fermer */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: rgb(255, 255, 255);
  text-decoration: none;
  cursor: pointer;
}

button.button {
  margin-left: 12px;
  border-radius: 30px;
  /*ARONDIT des bordures*/
  text-decoration: none;
  /* on retire le soulignement   */
  padding: 5px 10px;
  /* ajout marge interieur de 10px haut et bas et 20px interieur droite et gauche  */
  background-color: rgb(37, 37, 37);
  /* couleur du background du bouton */
  color: white;
  /* couleur texte */
  border: none;
  /* on retire l'encadrement */
  font-size: 20px;
  /* on grossit le texte bouton */
  font-family: "Playfair Display", sans-serif;
  /* changement de police */
  outline: rgb(37, 37, 37);
  /* quand on click de bouton petite couleure spawn */
  cursor: pointer;
  /* ajout apparition pointer quand on passe la souris sur le bouton */
}

button.button:hover {
  border-bottom: #ecc261 1px solid;
  color: #cca957;
}
